
 <ion-view cache-view=true>
	 <ion-nav-title ng-show="mediaDetails.userInfo.username">@{{mediaDetails.userInfo.username}}</ion-nav-title>
	<ion-nav-buttons side="right">
		<button ng-click="gotoURL('home')" class="button button-icon icon ion-android-search"></button>
	</ion-nav-buttons>
	<ion-content class="padding">
<div class="list card" ng-if="mediaDetails">

  <div class="item item-image">
	 <video ng-if="mediaDetails.postInfo.mediaType===2" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer">
		<source src="{{trustSrc(mediaDetails.postInfo.videos[0].url)}}" type="video/mp4"/>
	</video>
    <img ng-if="mediaDetails.postInfo.mediaType===1"  src="{{mediaDetails.postInfo.images[0].url}}" ng-click="showImage(mediaDetails.postInfo.images[0].url)"/>
	<p  class="item-body">{{mediaDetails.postInfo.caption}}</p>	
  </div>  
	<div class="row">
	   <div class="col"><a  class="item assertive custom-assertive padding-10 ">{{mediaDetails.postInfo.likeCount|abbreviated}} <i class="icon ion-heart"></i></a></div>
	   <div class="col"><a class="item assertive custom-assertive padding-10 "><i class="icon ion-android-time"></i> {{mediaDetails.postInfo.takenAt | dateText:true}}</a></div>
	    <div class="col"><a ng-click="nativeShare(mediaDetails.postInfo.images[0].url)" class="item item-icon-right assertive custom-assertive" >
		<i class="icon ion-share"></i></a></div>
	   <div class="col">
		<a class="item item-icon-right assertive custom-assertive padding-left-0" ng-click="download((mediaDetails.postInfo.mediaType===2 ? trustSrc(mediaDetails.postInfo.videos[0].url) :  mediaDetails.postInfo.images[0].url))" >
		<i class="icon ion-archive"></i></a>
	  </div>
	  
	</div>
</div>
<div class="list card" ng-if="mediaDetails && mediaDetails.location && mediaDetails.location.length>0">
	<div class="item">
		<div class="row">
			<div class="col col-20">
				<a class="item item-icon-left assertive custom-assertive">
				<i class="icon ion-android-pin"></i></a>
			</div>
			<div class="col">
				<h2>{{mediaDetails.location.title}}</h2>
				<p>{{mediaDetails.location.address}}, {{mediaDetails.location.city}}</p>
			</div>
		</div>
	</div>
</div>

<div class="card" ng-if="mediaComments && mediaComments.length>0">
	<ul class="list">
		<li class="item" ng-repeat="mc in mediaComments">
			<div class="item-avatar">
				<img src="{{mc.userInfo.picture}}" ng-click="(!mc.userInfo.isPrivate ? gotoURL('viewUser',{'user':mc.userInfo.id}) : showImage(mc.userInfo.picture))"/>
				<h2 class="positive" ng-click="(!mc.userInfo.isPrivate ? gotoURL('viewUser',{'user':mc.userInfo.id}) :'' )">@{{mc.userInfo.username}}</h2>
				<p>{{mc.text.created | dateText}}</p>
				<p><i class="icon ion-chatbubbles"></i> &nbsp;<span class="font-style-italic">{{mc.text.text}}</span></p>
			</div>
		</li>
	</ul>	
</div>






<div class="alert" ng-if="userDetails && userDetails.postList.length<=0"><b>Nothing posted.</b></div>
	</ion-content>
  </ion-view>