 <ion-view cache-view=true>
	 <ion-nav-title>Search - {{q}}</ion-nav-title>
	 <ion-nav-buttons side="right">
			<button ng-click="gotoURL('about')" class="button button-icon icon ion-ios-information-outline"></button>
			<button ng-click="gotoURL('home')" class="button button-icon icon ion-android-search"></button>
		</ion-nav-buttons>
		<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light tabs-icon-left">
		<div class="tabs">
		  <a class="tab-item " href="#/listUsers/{{q}}" >
			<i class="icon ion-ios-people"></i>
			People
		  </a>
		  <a class="tab-item" href="#/searchHashTags/{{q}}">
			<i class="icon ion-pound"></i>
			Hashtag
		  </a>
		  <a class="tab-item active" href="#/searchLocation/{{q}}">
			<i class="icon ion-ios-location"></i>
			Location
		  </a>
		</div>
	  </div>
	<ion-content class="padding hasTabs">
		<div class="row card locations" ng-repeat="lt in locations" ng-click="gotoURL('viewLocation',{'id':lt.id,'location':lt.title})">
			<div class="col col-10">
				<div class="item padding-left-0 padding-right-0">
					<a class="item positive item-icon-left custom-assertive padding-left-0 padding-right-0" >
						<i class="icon ion-location"></i>
					</a>
				</div>
			</div>
			<div class="col col-80">
				<h4 class="positive item padding-left-0 padding-right-0">{{lt.title}}<br ng-if="lt.subtitle"/><span  ng-if="lt.subtitle" class="font-14 dark">{{lt.subtitle}}</span>
				</h4>
			</div>
			<div class="col col-10">
				<div class="item padding-left-0 padding-right-0">
					<a class="item positive item-icon-left custom-assertive padding-left-0 padding-right-0" >
						<i class="icon ion-arrow-right-c"></i>
					</a>
				</div>
			</div>
		</div>
		
	 <div class="list card" ng-if="locations.length<=0">
		<div class="item">
			<h2 class="text-center">No search results found for keyword '{{q}}'</h2><br />
			<div class="text-center">
				<a class="button button-positive " ng-click="goBack()">Back to Search</a>
			</div>
		</div>
	 </div>
	</ion-content>
  </ion-view>