 <ion-view cache-view=true>
	 <ion-nav-title>Search - {{q}}</ion-nav-title>
	 <ion-nav-buttons side="right">
			<button ng-click="gotoURL('about')" class="button button-icon icon ion-ios-information-outline"></button>
			<button ng-click="gotoURL('home')" class="button button-icon icon ion-android-search"></button>
		</ion-nav-buttons>
		<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light tabs-icon-left">
		<div class="tabs">
		  <a class="tab-item active" href="#/listUsers/{{q}}" >
			<i class="icon ion-ios-people"></i>
			People
		  </a>
		  <a class="tab-item" href="#/searchHashTags/{{q}}">
			<i class="icon ion-pound"></i>
			Hashtag
		  </a>
		  <a class="tab-item" href="#/searchLocation/{{q}}">
			<i class="icon ion-ios-location"></i>
			Location
		  </a>
		</div>
	  </div>
	<ion-content class="padding hasTabs">
	
	<div class="list card" ng-repeat="user in users" ng-if="!user.isPrivate">
	  <div class="item item-avatar">
		<img ng-src="{{user.picture}}" ng-click="showImage(user.picture)">
		<h2 ng-click="gotoURL('viewUser',{'user':user.id})">@{{user.username}}</h2>
		<p ng-click="gotoURL('viewUser',{'user':user.id})">{{user.fullName}}</p>
	  </div>
	  <div class="row">
		<div class="col col-80">
			<a class="item positive assertive custom-assertive item-icon-left"> <i class="icon ion-ios-people"></i>&nbsp;{{user.followerCount|abbreviated}} followers</a>
		</div>
		<div class="col col-20">
			 <a class="item positive item-icon-right custom-assertive" href="#/viewUser/{{user.id}}">
				<i class="icon ion-arrow-right-c"></i>
			 </a>
		</div>
	  </div>
	 
	</div>
	 <div class="list card" ng-if="users.length<=0">
		<div class="item">
			<h2 class="text-center">No search results found for keyword '{{q}}'</h2><br />
			<div class="text-center">
				<a class="button button-positive " ng-click="goBack()">Back to Search</a>
			</div>
		</div>
	 </div>
	</ion-content>
  </ion-view>